.table-view {
    -fx-background-color: transparent;
    -fx-border-color: lightgray;
    -fx-border-width: 1.5;
    -fx-border-radius: 2 2 0 0;
}

.table-view .column-header {
    -fx-background-color: white;
}

.table-view .column-header-background {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-width: 0 0 1.5 0;
}

.table-view .filler {
    -fx-background-color: white;
}
.table-row-cell .label {
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-view .table-cell{
    -fx-alignment:center_left;
    -fx-font-size: 13px;
    -fx-font-family: Arial;
    -fx-padding: 5;
    -fx-border-width: 1 0 1 0;
}

/* Style for the selected column cells */
.table-view .cell-center {
    -fx-alignment: CENTER;
}
.table-view .column-header-left .label {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5;
    -fx-font-size: 13;
}
.check-box{
    -fx-background-color: transparent;
}
.check-box .box{
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-radius: 2;
    -fx-border-width: 1;
    -fx-font-size: 10;
}
.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #4DB14E;
}
/* Align header label to the center */
.table-view .column-header-center .label {
    -fx-alignment: CENTER;
    -fx-padding: 5;
    -fx-font-size: 13;
}

/* Align header label to the right */
.table-view .column-header-right .label {
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 5;
    -fx-font-size: 13;
}

.button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.button: hover{
    -fx-background-color: #f2f2f2;
}
.button: pressed{
    -fx-background-color: #E6E6E6;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #b0b0b0;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #b0b0b0;
}
